
body{
    margin: 0px;
    padding: 2rem 4rem;
    background-color: #dedede;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    text-align: center;
    padding: 20px;
}
main {
    background-color: #f1f1f1;
    padding: 50px; 
}
.budgetform{    
    height: 100%;
}
.budgetFormDiv {   
    padding: 40px;    
}
.budgetformBox{
    border: 1px solid;
    padding: 25px;
} 
.text-center{
    text-align: center;
}
.inputBox{
    margin: 0px 0px 30px 0px;
}
.formInput{
    padding: 4px;
}
.table{
    margin: 10px 0px 0px 0px;
}
.table tr th{
    padding: 10px;
}
.table tr td{
    padding: 10px;
}
.pt-1{
    padding-top: 20px;
}
.btn{
    padding: 8px 16px;
    cursor: pointer;
}
 
/* .filterPills{
 
} */
.filterPill{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0px 10px;
}
.filterPill:hover{
    background-color: #dedede;
}
.filterPill.active{
    background-color: #ccc;
}
.title{
    text-decoration: underline;
}
.success-btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: green;
    color: #fff;
    border: 1px solid;
}
.danger-btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    border: 1px solid;
}